name: Deploy Scripts to Windows Server
on:
  push:
    branches:
      - main  # Adjust this to your main branch name
  workflow_dispatch:
jobs:
  deploy:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install required PowerShell modules
      run: |
        Install-Module -Name 'PSScriptAnalyzer' -Force
        Install-Module -Name 'PowerShellGet' -Force
    - name: Set up WinRM
      run: |
        # Replace these values with your server information
        $serverAddress = '20.244.39.41'
        $username = 'Swara'
        $password = 'Ss987654321@!'
        # Configure WinRM
        $securePassword = ConvertTo-SecureString -String $password -AsPlainText -Force
        $credential = New-Object System.Management.Automation.PSCredential -ArgumentList $username, $securePassword
        Enable-PSRemoting -Force
        Set-Item WSMan:\localhost\Client\TrustedHosts -Value $serverAddress -Force
    - name: Copy script files to the Windows server
      run: |
        # Replace these values with your server information and script file paths
        $serverAddress = '20.244.39.41'
        $username = 'Swara'
        $password = 'Ss987654321@!'
        $localPath = './try.ps1'
        $remotePath = "C:\Users\Swara\Desktop\New folder"
        $securePassword = ConvertTo-SecureString -String $password -AsPlainText -Force
        $credential = New-Object System.Management.Automation.PSCredential -ArgumentList $username, $securePassword
        Copy-Item -Path $localPath -Destination "\\$serverAddress\$remotePath" -Recurse -verbose
      # You can add additional steps to run the scripts on the server if needed
    - name: Clean up WinRM configuration
      run: |
        Disable-PSRemoting -Force